@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #687188;
  font-size: 16px;
  overflow-x: hidden;
}

button {
  border: none;
  cursor: pointer;
}

:root {
  --inter: "Inter", serif;
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("../fonts/Inter18pt-Regular.woff2") format("woff2"),
    url("../fonts/Inter18pt-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url("../fonts/Inter18pt-SemiBold.woff2") format("woff2"),
    url("../fonts/Inter18pt-SemiBold.woff") format("woff");
}

.common_main_head {
  color: #000;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -0.4px;
}

.common-shop-now-btn {
  color: #141718;
  text-align: center;
  font-family: "Inter", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4px;
  border-radius: 8px;
  background: #38cb89;
  padding: 6px 40px;
  transition: all linear 0.3s;
}
.common-shop-now-btn:hover{
  background: #20ef92;
}

@media only screen and (max-width: 768px) {
  .common_main_head {
    font-size: 40px;
  }
}

@media only screen and (max-width: 575px) {
  .common_main_head {
    font-size: 34px;
  }
}

img {
  width: 100%;
  height: auto;
}

.btns {
  display: flex;
  align-items: center;
  gap: 4px;
  border-bottom: 1px solid #121212;
  margin-top: 12px;
  transition: all linear;
}
.btns svg {
  transition: transform 0.3s ease;
}

.btns:hover svg {
  transform: rotate(-45deg);
}

.categroy-text {
  color: #23262f;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.btns .btn-text {
  color: #121212;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4px;
  font-family: "Inter", serif;
}

.common-Listing-text {
  color: var(--neutral-07100, #141718);
  font-family: var(--inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  /* 162.5% */
}

@media only screen and (max-width: 575px) {
  .btns .btn-text {
    font-size: 14px;
  }
}

.newsfeed {
  color: #6C7275;
  font-family: "Inter", serif;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.section-title {
  color: var(--neutral-04100, #6C7275);
  font-family: "Inter", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}

.ah-product-name {
  color: var(--neutral-07100, #141718);
  font-family: "Inter", serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.ah-product-color {
  color: var(--neutral-04100, #6C7275);
  font-family: "Inter", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.empty--message {
  font-size: 16px;
  margin-top: 20px;
  font-size: var(--inter);
}

.article-tag {
  color: #000;
  font-family: var(--inter);
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}